@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap');

.container-forTitle{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: burlywood;
    padding: 20px;
}
.forTitle{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: -10%;

}
.container-forTitleLeft{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: burlywood;
    padding: 20px;
}