@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap");

.explication {
  font-family: "Montserrat", sans-serif;
  display: flex;
  width: 100%;
  padding: 24px;
  color: var(--light-color);

  .container-explication {
    padding: 20px;
    display: flex;
    margin-top: -3.5%;
    align-items: center;
    justify-content: center;
    width: 50%;
    border: 2px solid var(--light-color);
    border-radius: 10px;
  }
}

.explication-dark {
  font-family: "Montserrat", sans-serif;
  display: flex;
  width: 100%;
  padding: 24px;
  color: var(--dark-color);

  .container-explication-dark {
    padding: 20px;
    display: flex;
    margin-top: -3.5%;
    align-items: center;
    justify-content: center;
    width: 50%;
    border: 2px solid var(--dark-color);
    border-radius: 10px;
  }
}
