@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap');

.explication{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    width: 100%;
    padding: 25px;
    color: burlywood;
    
    .container-explication{
    padding: 20px;
    display: flex;
    margin-top: -3.5%;
    align-items: center;
    justify-content: center;
    width: 50%;
    border: 2px solid black;
    border-radius: 10px;
}
}