@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

.container-TextsContainer {
  display: flex;
  padding: 16px;
  align-items: center;
  background-color: var(--light-background);
  margin-top: 5%;
  font-family: "Montserrat", sans-serif;
  color: var(--light-color);
}
.container-TextsContainer-dark {
  display: flex;
  padding: 16px;
  align-items: center;
  background-color: var(--dark-background);
  margin-top: 5%;
  font-family: "Montserrat", sans-serif;
  color: var(--dark-color);
}
