@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
.container-ForText{
    display: flex;
    padding: 20px;
    align-items: center;
    background-color: beige;
    margin-top: 5%;
    font-family: 'Montserrat', sans-serif;
    color: #3da68d;
}