@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
.card-container {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  padding: 16px;
  border: 2px solid black;
  border-radius: 10px;
  width: 30%;
  height: 20%;
  margin-top: 3%;

  &-dark {
    @extend .card-container;

    border: 2px solid var(--dark-color);
    color: var(--dark-color);
  }

  div {
    align-items: center;
    justify-content: center;
    display: flex;
  }
}
.card-container-contact {
  display: flex;
  font-family: "Montserrat", sans-serif;
  padding: 16px;
  border: 2px solid var(--light-color);
  border-radius: 10px;
  width: 30%;
  margin-top: 3%;
  align-items: center;
  justify-content: center;
  gap: 5px;

  div {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 2px;

    h1,
    a {
      text-decoration: none;
      border-bottom: 1px solid;
      color: var(--light-color);
    }
  }
  &-dark {
    @extend .card-container-contact;
    color: white;
    h1,
    a {
      text-decoration: none;
      border-bottom: 1px solid;
      color: var(--dark-color);
    }
  }
}
