@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100&display=swap");

:root {
  --light-background: #f5f5dc;
  --dark-background: #000000;
  --light-color: #000000;
  --dark-color: #ffffff;
  --light-backgroudColor: #ffffff;
  --dark-backgroudColor: #3f0071;
}

.App {
  background-color: var(--light-backgroudColor);
  font-family: "Roboto", sans-serif;
  margin: 0;
  text-decoration: none;
}

body {
  margin: 0;
  overflow-x: hidden;
}
